* { box-sizing: border-box; }

html {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
	line-height: 150%;
}

body {
	margin: auto;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	text-align: center;
	color: #8C72A9;
	font-size: 3rem;
	line-height: 200%;
}

h2 {
	text-align: center;
	color: #8C72A9;
	font-size: 2rem;
	line-height: 150%;
}

h3 {
	text-align: left;
	color: white;
	font-size: 1.2rem;
	line-height: 150%;
}

p { 
	font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

ul {
	margin: 0 auto;
  padding: 0;
  text-align: center;
}

li { 
	list-style: none;
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
  color: white;
}

header nav {
	width: 100%;
	margin: 0 auto;
}
  
header nav li {
	float: left;
	width: 14.28%;
  background-color: #8C72A9;
  padding: 10px;
  border: 1px solid black;
  color: white;
	text-align: center;
}

aside { 
	clear: both;
	float: left;
  width: 25%;
	background-color: #CBBFD8;
	float: left;
	padding: 20px;
	
}

aside nav {
	padding: 50px;
}

aside nav li {
	color: white;
  padding: 10px;
}

aside p {
	font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
	font-size: .85rem;
}

article { 
	float: right;
  margin: auto;
  max-width: 75%;
  background-color: #CCCCCC;
  text-align: center;
	padding: 50px;
}

article img {
	padding: 50px;
}

footer {
	clear: both;
  width: 100%; 
	text-align: center;
	padding: 50px;
}

footer nav li {
	display: inline-block;
}

footer img {
	max-width: 60%;
}



